# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1_course/English/Books/Destination_C1_-_C2.pdf
1_course/English/Books/Speakout_2ed_Upper_Intermediate_Student_39_s_Book.pdf
1_course/Math_Analysis/Books/Мат_анализ_ПРАКТИКА_та_сама_синя_книга_1.pdf
/2_course/Algorithms_and_complexity/Semester_1/AC-Lab-1.1
/2_course/Algorithms_and_complexity/Semester_1/AC-Lab-1.2
/2_course/Algorithms_and_complexity/Semester_2/AC-Lab-2.1
/2_course/Algorithms_and_complexity/Semester_2/AC-Lab-2.2
2_course/English/Books/Destination_C1_-_C2.pdf
2_course/English/Books/Speakout_2ed_Upper_Intermediate_Student_39_s_Book.pdf
2_course/OOOP/Lab 3/OOP Lab 2.3a/.vs/OOP Lab 2.3a/v17/ipch/AutoPCH/e335ed17897fb26d/GTEST-DEATH-TEST.ipch
/2_course/OOOP/IcePlayer
/2_course/OOOP/Lab1
/2_course/OOOP/Project OOP Test
/2_course/OOOP/Project OOP
/2_course/OOOP/ProjectAce
/2_course/OOOP/simple-music-player
/2_course/Organization_of_databases/Lab_1
/2_course/Web/Lab/Web-lab
/3_course/OOP/Labs
3_course/Modeling_of_complex_systems/Labs/Lab_2/logs
3_course/Modeling_of_complex_systems/Labs/Lab_2/__pycache__
3_course/Modeling_of_complex_systems/Labs/Lab_2/greville_result.png
3_course/Modeling_of_complex_systems/Labs/Lab_2/moore_penrose_result.png
3_course/Modeling_of_complex_systems/Labs/Lab_2/original_Y.png
3_course/Modeling_of_complex_systems/Labs/Lab_2/svd_result.png
3_course/Modeling_of_complex_systems/Labs/Lab_2/results.json
3_course/Numerical_methods/Labs/Lab_2/gaussian_log.txt
3_course/Numerical_methods/Labs/Lab_2/jacobi_log.txt
/3_course/Modeling_of_complex_systems/Labs/Lab_2/results
3_course/Modeling_of_complex_systems/Labs/Lab_3/logs
3_course/Numerical_methods/Labs/Lab_4/errors_report.png
3_course/Numerical_methods/Labs/Lab_4/interpolation_report.png
3_course/Numerical_methods/Labs/Lab_4/inverse_interpolation_report.png
3_course/Numerical_methods/Labs/Lab_4/inverse_interpolation_errors_report.png
/3_course/Operating_systems/Takehome/OS_takehome
